**/*.log
**/*.str
RemoteSystemsTempFiles/

**/Hardware/
**/Emulation-SW/

.Xil/

**/cscope*

testing/csim
testing/.Xil

.metadata
.analytics

**/build

cnn/cnn.prj
cnn_kernels/cnn_kernels.prj
cnn_system/cnn_system.sprj
cnn_system_hw_link/.cproject
cnn_system_hw_link/cnn_system_hw_link.prj

